{% extends 'shop.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main_shop/css/main.css' %}">

{% block content %}
     <h1 class="login_title">LOGIN</h1>
     <hr>

     {% if form.errors %}
           <p>{{ form.errors.error }}</p>
     {% endif %}


     <form action="{% url 'login' %}" method="post" class="login_form">
         <div class="login_form_shell">
             {% csrf_token %}
             {{ form }}
             <button type="submit" class="login_btn">LOGIN</button>
             <a href="{% url 'password_reset' %}" class="forgot_password">Forgot password</a>
         </div>
     </form>
{% endblock %}







<!--<form action="{% url 'login' %}" method="post" class="login_form">-->
<!--         {% csrf_token %}-->
<!--         <div class="login_form_shell">-->
<!--             {{ form }}-->
<!--             <button type="submit" class="login_btn">LOGIN</button>-->
<!--         </div>-->
<!--     </form>-->
<!--     <a href="{% url 'password_reset' %}">Forgot password</a>-->