{% extends 'shop.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main_shop/css/main.css' %}">


{% block content %}
    <h1 class="register_title_1">register</h1>
    <hr>
    <form class="register_form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="register_form_shell">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Password (again)" required>
            <button type="submit" class="register_btn">Register</button>
        </div>
    </form>
{% endblock %}