{% extends 'shop.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main_shop/css/main.css' %}">

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
    <div class="content_wrap2">
        <h1 class="title">{{ product.title }}</h1>
        <p class="descrp">{{ product.description }}</p>
        <div class="all_descrp">
           <p class="Categ">Category................{{ product.category }}</p>
        <p class="Price">Size................{{ product.size }}</p>
        <p class="Price">Created_at................{{ product.created }}</p>
        <p class="Price">Price................{{ product.price }}$</p>
        <p class="Price">Vozvrat................{{ product.vozvrat }}</p>
       </div>
        <div class="s_btns">
            <button class="s_btn">BUY</button>
        </div>

    </div>
{% endblock %}
